<div class="p-grid flex justify-content-center p-grid-login">
    <div class="col-12 md:col-12 lg:col-12">
        <p-card>
            <div class="p-grid">
                <div class="col-12 text-center">
                    <p><i class="fa-solid fa-plug fa-4x" style="color: #007ad9;"></i></p>
                    <h2>Device Execution</h2>
                </div>
                <div class="col-12">
                    <label for="">Command:</label>
                    <input type="text" pInputText class="col-12" />
                </div>
                <div class="col-12">
                    <label for="">Command:</label>
                    <input type="text" pInputText class="col-12" />
                </div>
                
                <div class="col-12">
                    <!-- <button pButton
                    severity="info" 
                    (click)="doLogin()" type="button" label="Entrar" class="block-button"></button> -->
                </div>
            </div>
        </p-card>
    </div>
</div>